@font-face{
font-family: "myfont";
src: url("fonts/Hc__.ttf")    
}

@font-face{
    font-family: "myfont2";
    src: url("fonts/BEACHTYP.TTF")    
    }

*{
    box-sizing:border-box;
}

#canvas {
    box-shadow:-1px 1px 5px 4px #f4511e;
}

.canvas-container{
    padding: 40px;
}


.header {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    line-height: 250px;
    width:100%;
    background-image: url("img/header-bg.jpg");
   
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
}

.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

h1{
    margin:0;
    font-size: 4rem;
    text-shadow: 2px 2px 5px #f4511e;
    color: black;
    font-family: 'myfont';
    box-shadow:-1px 1px 5px 4px #f4511e;
    
}

h2{
    margin:0;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'myfont';
    text-shadow: 0 0 5px #f4511e;
}

h3{
    margin-bottom:10px;
    margin-top:10px;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'myfont';
    text-shadow: 0 0 5px #f4511e;
}
.main{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.more-memes{
    margin-bottom:20px;
}

label{
    font-family: "myfont2";
    font-style: italic;
    color:#f4511e;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1em;
}

.controlPanel{
    box-shadow:-1px 1px 5px 4px #f4511e;
    margin-bottom: 20px;
}

.onoffswitch-checkbox{
    transform: scale(1.5);
   
}

a{
    color:white;
    text-decoration: none;
 
}

a:visited { color:white; }
a:focused { color: white; }
a:hover { color:white;}
a:active { color:white; }

/*===========================BUTTONS================================= */
.delete{
    display: inline-block;
        border-radius: 20px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 16px;
        padding: 5px;
        width: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.outsideBtns{
   display:flex;
   flex-direction: row;
   justify-content: center;

}

.outside {
    display: inline-block;
    border-radius: 20px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.outside span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .outside span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .outside:hover span {
    padding-right: 25px;
  }
  
  .outside:hover span:after {
    opacity: 1;
    right: 0;
  }

  .outside-size {
    display: inline-block;
    border-radius: 20px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 2px;
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
    .outside-size span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
    
      .outside-size span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      .outside-size:hover span {
        padding-right: 25px;
      }
      
      .outside-size:hover span:after {
        opacity: 1;
        right: 0;
      }

      .move{
        display: inline-block;
        border-radius: 20px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      }
/* =======================================INPUT FIELD TEXT================================== */

.label-and-input{
    padding-top:10px;
    display: flex;
      vertical-align: middle; 
}

.group 			  { 
    position:relative;  
  }
  #input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
   
  /* active state */
  #input:focus ~ label, #input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#f4511e
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#f4511e; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  #input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#f4511e; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#f4511e; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#f4511e; }
    to 	{ width:0; background:transparent; }
  }

  /* ====================SELECT BOX====================================== */
  .label-and-select {
      display: flex;
      vertical-align: middle; 
  }

  .styled-select select {
    background: #f4511e;
    width: 80px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #f4511e;
    border-radius: 15px;
    height: 25px;
    -webkit-appearance: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
    
  select {
      color: white;
  }

  .size-input{
      width:40px;
      height:25px;
      border: 1px solid #f4511e;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      border-radius: 10px;
  }
  .color{
    border: 1px solid #f4511e;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
  }


  @media(max-width: 740px){
    .main {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        height: auto;
    }
    .form{
        padding-top: 0px;
        width: 100%;
        align-content: center;
    }
    #canvas{
    width: 100%;
    height:auto;
    margin-bottom: 20px;
    }
    .controlPanel{
        width:100%;
    }
    .canvas-container{
       display:flex;
       flex-flow: column wrap;
       max-width:110%;
       height: auto;
        
    }
    
    h1{
    font-size: 2rem;
    }   

    .canvas-container{
    padding-bottom:10px;
    }

    .bar{
    position: unset;
    width: 0;
    }

    .group{
    display:flex;
    }
}
