/* =========FONTS==================== */

@font-face{
font-family: "myfont";
src: url("fonts/Hc__.ttf")    
}

@font-face{
    font-family: "myfont2";
    src: url("fonts/BEACHTYP.TTF")    
    }

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

.fa {
    font-family: 'FontAwesome';
}

*{
    box-sizing:border-box;
}

/* =================BODY===================== */

#canvas {
    box-shadow:-1px 1px 5px 4px #f4511e;
}

.canvas-container{
    padding: 40px;
}


.header {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    line-height: 250px;
    width:100%;
    background-image: url("img/header-bg.jpg");
   
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
}

.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

h1{
    margin:0;
    font-size: 4rem;
    text-shadow: 2px 2px 5px #f4511e;
    color: black;
    font-family: 'myfont';
    box-shadow:-1px 1px 5px 4px #f4511e;
    
}

h2{
    margin:0;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'myfont';
    text-shadow: 0 0 5px #f4511e;
}

h3{
    margin-bottom:10px;
    margin-top:10px;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'myfont';
    text-shadow: 0 0 5px #f4511e;
}
.main{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.more-memes{
    margin-bottom:20px;
}

label{
    font-family: "myfont2";
    font-style: italic;
    color:#f4511e;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1em;
}

.controlPanel{
    box-shadow:-1px 1px 5px 4px #f4511e;
    margin-bottom: 20px;
}

.onoffswitch-checkbox{
    transform: scale(1.5);
   
}

a{
    color:white;
    text-decoration: none;
 
}

a:visited { color:white; }
a:focused { color: white; }
a:hover { color:white;}
a:active { color:white; }

/*===========================BUTTONS================================= */
.delete{
    display: inline-block;
        border-radius: 20px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 16px;
        padding: 5px;
        width: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.outsideBtns{
   display:flex;
   flex-direction: row;
   justify-content: center;

}

.outside {
    display: inline-block;
    border-radius: 20px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.outside span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .outside span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .outside:hover span {
    padding-right: 25px;
  }
  
  .outside:hover span:after {
    opacity: 1;
    right: 0;
  }

  .outside-size {
    display: inline-block;
    border-radius: 20px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 2px;
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
    .outside-size span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
    
      .outside-size span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      .outside-size:hover span {
        padding-right: 25px;
      }
      
      .outside-size:hover span:after {
        opacity: 1;
        right: 0;
      }

      .move{
        display: inline-block;
        border-radius: 20px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      }

.submit-button{
    display: inline-block;
    border-radius: 20px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 90px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.submit-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .submit-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .submit-button:hover span {
    padding-right: 25px;
  }
  
  .submit-button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* =======================================INPUT FIELD TEXT================================== */

.label-and-input{
    padding-top:10px;
    display: flex;
      vertical-align: middle; 
}

.group 			  { 
    position:relative;  
  }
  #input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus 		{ outline:none; }
  
   
  /* active state */
  #input:focus ~ label, #input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#f4511e
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#f4511e; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  #input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#f4511e; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#f4511e; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#f4511e; }
    to 	{ width:0; background:transparent; }
  }

  /* ====================SELECT BOX====================================== */
  .label-and-select {
      display: flex;
      vertical-align: middle; 
  }

  .styled-select select {
    background: #f4511e;
    width: 80px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #f4511e;
    border-radius: 15px;
    height: 25px;
    -webkit-appearance: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
    
  select {
      color: white;
  }

  .size-input{
      width:40px;
      height:25px;
      border: 1px solid #f4511e;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      border-radius: 10px;
  }
  .color{
    border: 1px solid #f4511e;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
  }

  

/* ================FOOTER=============== */

.footer{
    display:flex;
    flex-flow: column wrap;
}

.svg{
   margin-left:30px;
   margin-top: 30px;
   height:70%;
    filter: drop-shadow( -5px 5px 7px #f4511e );
}

.footer-container{
    width:100%;
    height: 250px;
    background-image: url("img/header-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px 8px  #f4511e inset;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    

}

.rights{
    font-family: 'latoRegular';
    color:#a6a6a6;
}


.social-rights-container{
    max-width: 200px;
    width: 100%;
    margin-top: 70px;
    margin-right: 100px;
    text-align: center;
    font-family: 'myfont';
    font-size: 13px;
}

/* -------SOCIAL------- */
.social{
    align-self: flex-start;
}
    
    .social li{
        width:40px;
        height:40px;
        background-color: #f4511e;
        margin-left:20px;
        transition: all .3s;
        
    }
    .social li:first-child{
        margin-left:0px;
     
        
    }
    .facebook:hover{
        background-color: #516fad;
        cursor: pointer;
    }
    
    .twitter:hover {
        background-color: rgb(29,202,255);
        cursor: pointer;
    }
    
    .behance:hover {
        background-color: rgb(5, 62, 255);
        cursor: pointer;
    }
    
    .dribble:hover {
        background-color:rgb(234, 76, 137);
        cursor: pointer;
    }
    .social a {
        z-index:10;
        font-family: 'FontAwesome';
        color:#ffffffb2;
        line-height: 40px;
        font-size: 1.3em;
     
    }
    .social a:hover {
        color:#ffffff;
        cursor: pointer;
    }
    
    
    /*----Helpers----*/
    
    .clean-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    
    /* -------FLEX------- */
    
    .flex {
        display: flex;
    }
    .inline-flex {
        display: inline-flex;
    }
    
    .justify-center {
        justify-content: center;
    }
    
    .align-center {
        align-items: center;
    }
    .align-right{
        align-items: flex-end;
    }
    
    .space-around {
        justify-content: space-around;
    }
    .space-between {
        justify-content: space-between;
    }
    
    .flex-wrap {
        flex-wrap: wrap;
    }
    
    .flex-full {
        flex: 1;
    }
    
    .column {
        flex-direction: column;
    }
    /* =================CONTACT ME======================== */

#contact{
    display:flex;
    align-items: center;
    flex-flow: column wrap;
}

#subject {
    margin-left: 44px;
}

#email{
    margin-left: 21px;
}

#message{
    margin-bottom: 20px;
}
.submit{
    margin-bottom: 5px;
   
}
.contact-frame{
    padding: 20px;
    margin-bottom:20px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    border: 1px solid #f4511e;
    box-shadow: 0 8px 16px 0 #f4511e, 0 6px 20px 0 #f4511e;

}
    /* =================RESPONSIVENESS FOR MOBILE======================== */

  @media(max-width: 740px){
    .main {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        height: auto;
    }
    .form{
        padding-top: 0px;
        width: 100%;
        align-content: center;
    }
    #canvas{
    width: 100%;
    height:auto;
    margin-bottom: 20px;
    }
    .controlPanel{
        width:100%;
    }
    .canvas-container{
       display:flex;
       flex-flow: column wrap;
       max-width:110%;
       height: auto;
    }
    
    h1{
    font-size: 2rem;
    }   

    .canvas-container{
    padding-bottom:10px;
    }

    .bar{
    position: unset;
    width: 0;
    }

    .group{
    display:flex;
    }
    .svg{
        margin-left:0;
        height:70%;
         filter: drop-shadow( -5px 5px 7px #f4511e );
     }
     .social-rights-container{
        max-width: 200px;
        width: 100%;
        margin-right: 0;
    }
    .social li{
        margin-left:0;
    }
    .footer-container{
        width:100%;
        height: 200px;
       
    }


}